@import url('https://fonts.googleapis.com/css?family=Raleway:300');
html, body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin:0;
    user-select:none;
}
.salirBtn{
    height: 45px;
    background: rgb(87, 98, 113);
    width: 50%;
    margin: auto;
    margin-top: 25%;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex!important;
    text-decoration: none;
}
.withouthPermission{
    opacity: .5;
}
.on{
    background: #13FC13!important; 
}
.off{
    background: red!important;
}

main {
    position: relative;
    top: 0;
    left: 0;
}
main h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
    margin: 50px 0 45px 0;
    width: 100%;
    color: #0a0707;
    font-size: 45px;
}
main span {
    background: #13FC13;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}
section {
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
    max-width: 440px;
    margin: auto;
    /* margin-right: 10px; */
    align-self: center;
    padding:15px;
}
section aside {
    background: #202730;
    height: 200px;
    width: 15px;
    position: absolute;
    z-index: -1;
}
section aside:nth-child(1) {
    left: 5px;
    top: 20px;
}
section aside:nth-child(2) {
    right: 5px;
    top: 20px;
}
section article {
    width: 100%;
    height: 50px;
    background: #202730;
    margin: 10px auto;
    position: relative;
}
section article span {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
    margin: 0 0 15px 0;
}
section article span:nth-child(1) {
    background: #28cb40;
    animation: blinker 0.7s linear infinite;
}
section article span:nth-child(2) {
    background: #c99a31;
    animation: blinker 1.3s linear infinite;
}
section article span:nth-child(3) {
    background: transparent;
    border: 1px solid #fff;
    position: absolute;
    top: 20px;
    right: 10px;
    left: inherit;
}
section article ul li {
    width: 10px;
    height: 30px;
    background: #818993;
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 10px;
}
section article ul li:nth-child(1) {
    left: 30px;
    animation: fade 2s infinite alternate backwards;
}
section article ul li:nth-child(2) {
    left: 50px;
    animation: fade 1.8s 0.2s infinite alternate backwards;
}
section article ul li:nth-child(3) {
    left: 70px;
    animation: fade 1.6s 0.4s infinite alternate backwards;
}
section article ul li:nth-child(4) {
    left: 90px;
    animation: fade 1.4s 0.6s infinite alternate backwards;
}
section article ul li:nth-child(5) {
    left: 110px;
    animation: fade 1.2s 0.8s infinite alternate backwards;
}
section article ul li:nth-child(6) {
    left: 130px;
    animation: fade 1s 1s infinite alternate backwards;
}
section article ul li:nth-child(7) {
    left: 150px;
    animation: fade 0.8s 1.2s infinite alternate backwards;
}
section article ul li:nth-child(8) {
    left: 170px;
    animation: fade 0.6s 1.4s infinite alternate backwards;
}
section article ul li:nth-child(9) {
    width: 150px;
    background: #32a3ef;
    color: white;
    font-family: monospace;
    right: 60px;
    line-height: 27px;
    text-align: center;
    animation: pulse 1.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}
@keyframes pulse {
    from { background-color: #32a3ef; box-shadow: 0 0 9px #333; }
    50% { background-color: #59B6F2; box-shadow: 0 0 15px #047AC7; }
    to { background-color: #32a3ef; box-shadow: 0 0 9px #333; }
}
@keyframes fade {
    from { filter: alpha(opacity=0); opacity: 0; }
    to { filter: alpha(opacity=100); opacity: 1; }
}
@-webkit-keyframes blinker {  
    50% { opacity: 0; }
}
@-webkit-keyframes pulse {
    from { background-color: #32a3ef; box-shadow: 0 0 9px #333; }
    50% { background-color: #59B6F2; box-shadow: 0 0 15px #047AC7; }
    to { background-color: #32a3ef; box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes fade {
    from { filter: alpha(opacity=0); opacity: 0; }
    to { filter: alpha(opacity=100); opacity: 1; }
}