<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/home_index.css">
        <link rel="stylesheet" type="text/css" href="/css/hover.css">
        <title>Home</title>
    </head>
    <body>
        <main>

            <h1>Bienvenido <text th:text='${username}'></text> !</h1>
            <section>
                <!-- 1 -->
                <article  th:each="service : ${services}" th:class="${!service.serviceAuthorized}?'withouthPermission'">
                    <span th:class="${!service.serviceEnabled}?'off'"></span>
                    <span th:class="${!service.serviceEnabled}?'off'"></span>
                    <span th:class="${service.serviceEnabled}?'on':'off'"></span>

                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>

                        <li class='hvr-pulse'  th:text="${service.serviceName}"></li>
                    </ul>
                </article>
                
                <a class="salirBtn hvr-bounce-to-left" href='/logout'>Salir</a>
            </section>
        </main>

    </body>
</html>
